@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
body{
    background-color: black;
    color: white;    
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
color: white;
font-style: normal;
text-decoration: none;


}


ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}


.main {
    background-color: black;
    color: white;
}

.left, .right {
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: black;
    color: white;
    float: left;
    width: 100%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }


  /* Style  RESERVATION FORM inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: blueviolet;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.reservationform {
  border-radius: 5px;
  background-color: #2e2d2d;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Top Menu */
.topmenu{
  text-align: center;
  font-family: Forum, serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

.menu{
  display:inline-flex;
  margin:1rem;
  color: white;
  text-align: center;
  font-family: Forum, serif;
  font-size: 20px;

}


.menurow{
  display: flex;
  margin-bottom: 1em;

}


.menucolumn{
  display: inline-block;
  margin-left: 2em; 
  
}


/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid #37444D;
  border-top: 1px solid #37444D;
  border-left: 1px solid #37444D;
  border-right: 1px solid #37444D;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #FFFFFF;
  border-top: 1px solid #37444D;
}

.post__footer .imgtweet {
  width: 20px;
}

.post__badge {
  font-size: 14px !important;
  color: white;
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText {
  display: inline;
}
.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline;
}

.post__headerText h4 {
  font-size: 13px;
  margin-bottom: 5px;
  display: inline;
}

.post__headerText .verifiedicon {
  width: 15px;
}

.post__headerDescription {
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerDescription h3 {
  font-size: 25px;
  font-weight: normal;
  font-family: Forum, serif;
  font-size: 20px;
}

a:hover{
  color:NavajoWhite;
  /* background:green; */
}
/* images change size and position */
/* image{
  position:static;
  display:grid;
  width:100%;
  height:auto;
  min-height: 548px;
  grid-template-rows:1fr;
  grid-template-columns: 100%;
  padding:bottom;
  box-sizing:border-box;
} */

/* gallery */
.flex_test-box{
  padding: 10px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
}
.flex_test-item{
  padding: 10px;
  margin:10px;
  width: 200px;
  text-align: center;
}
/* gallery end */
/* about */

.aboutMain{
  text-align: center;
}

.awards{
  display:block;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}
.color-24{
  text-align: center;
  color:red;
}
 
.post__body {
  flex: 1;
  padding: 10px;
 }

.post__avatar {
  padding: 20px;
}