.back{
    background-color: rgb(206, 205, 205);
    background-repeat: no-repeat;
    background-size: cover;   
 }

 .front{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;   
 }

 .container {
    display: flex;
    flex-direction: row ;
    justify-content: right;
    background-color: grey;
    width: 500px;
    height: 200px;
}


.item {
    width: 150px;
    background-color: white;
    flex-basis: 100px;
    flex-grow: 1;
    border: 1px solid black;
}

.item3{
    flex-grow: 2;
    align-self: center;
}