
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

body{
    font-family: "Bai Jamjuree";
    font-size: 18px;

}

.header{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

.footer{
   background-color: rgb(173, 170, 170);
   background-repeat: no-repeat;
   background-size: cover;   
}